.content {
    align-items: flex-start;
    justify-content: flex-start;
}
.info-container ul li {
    display: flex;
}
.info-container ul li strong {
    margin-right: 5px;
}

.article-list {
    width: 100%;
}
.article-list ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 3px;
    border: var(--border);
    background-color: white;
    margin-bottom: 5px;
}